<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }} </title>
</head>
<body>
<div class="container">
    <h2>Basic file properties</h2>
    {% include "base_summary.html" %}
</div>

</body>
</html>